In [1]:
import numpy as np
import pandas as  pd
import matplotlib.pyplot as plt
import scipy.stats as stats

df = pd.read_csv('student-por.csv')
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [20]:
sampled_df = df['absences'].sample(frac=0.25,random_state = 5)
sample_mean = np.mean(sampled_df)
population_mean = np.mean(df['absences'])
print("Population mean = ",population_mean)
print("Sample mean = ",sample_mean)

sample_size = len(sampled_df)
print("sample size = ",sample_size)
Square_error = (np.std(df['absences'],ddof=1))/(np.sqrt(sample_size))
print("Square error = ",Square_error)

Z_score = (sample_mean-population_mean)/Square_error
p_value = 2 * stats.norm.cdf(-abs(Z_score))
print("")
print("The Z score for this hypothesis test is: {:20.19f}".format(Z_score))
print("The p value for this hypothesis test is: {:20.19f}".format(p_value))

print("")
alpha = 0.05
if p_value <= alpha/2:
    print("The null hypothesis is rejected as there is evidence to support the alternative hypothesis in the left tail.")
elif p_value >= 1 - alpha/2:
    print("The null hypothesis is rejected as there is evidence to support the alternative hypothesis in the right tail.")
else:
    print("The null hypothesis cannot be rejected as there is not enough evidence to support the alternative hypothesis.")

Population mean =  3.6594761171032357
Sample mean =  3.9814814814814814
sample size =  162
Square error =  0.3646124470298677

The Z score for this hypothesis test is: 0.8831441904995310788
The p value for this hypothesis test is: 0.3771583707427739185

The null hypothesis cannot be rejected as there is not enough evidence to support the alternative hypothesis.